bandit==1.7.10
black==22.10.0
bump2version==1.0.1
flake8==5.0.4
isort==5.13.2
mypy==0.991
mkdocs-material==8.5.11
mkdocstrings==0.26.2
pytest==7.4.4
pytest-cov==4.1.0
pytest-mock==3.14.0
pdbpp
mike==1.1.2
